body{
    background-color: white;
    margin: 0;
}
 /* .main{
 display: flex; 
}  */
nav{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 47, 52, 0.03);
    display: flex;
   justify-content: center;
   align-items: center;
}
.nav-div{
    width: 99%;
    height: 90%;
    /* background-color: rgb(179, 79, 79); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    height:30px ;
    
    /* background-color: antiquewhite; */
}
.location{
    height: 48px;
    width: 270px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.searchicon{
    height: 25px;
    width: 25px;
}
.location input{
    height: 95%;
    width: 190px;
    border: none;
    outline: none;
}
.dropdownicon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.location ::placeholder{
    font-size: 15px;
}
.search-div{
    height: 48px;
    width:50% ;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.search-div input{
    width: 100%;
    height: 90%;
    padding-left: 10px;

    
}
.search-div div{
    height: 100%;
    width: 10%;
    background-color:#002f34;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 3px 3px 0px;
}

.search-div img{
   
    height: 25px;
    width: 25px;
    filter: brightness(100);
    cursor: pointer;


}
.language-div{
    height: 100%;
    width:auto;
    display: flex;
    align-items: center;
}
.language-div p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #3a3a3a;
}
.language-div img{
    height: 30px;
    width: 30px;
    cursor: pointer;

}
.profile-div{
    height:48px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.profilepic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: aqua; */
}

.profile-dropdown{
    width: 30px;
    height: 30px;
    /* background-color: blue; */
}
.selldiv{
    height: 50px;
    width: 95px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: linear-gradient(to right top, #fefd2a, #f6e637, #f1ee26, #f1ee26, #31e7ff, #31e7ff, #31e7ff, #4f10e1, #4f10e1, #4f10e1, #4f10e1);
}
a{
    text-decoration: none;
    color:black;
    font-family: sans-serif;
    font-size: 14px;
}
.sell{
    height: 70%;
    width: 85%;
    background-color: aliceblue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sell img{
    height: 28px;
}
                          /* body */
.body{
    margin: auto;
    /* background-color: #3a3a3a; */
    height: fit-content;
    width: 85%;
}
.head{
    width:fit-content;
    height: 10%;
    /* background-color: #31e7ff; */
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.container{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* background-color: rgba(245, 169, 69, 0.548); */
}
.card{
    height:300px;
    width: 288px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.523);
    border-radius: 5px;

  
}
.imagepart{
    height: 60%;
    width: 100%;
    border-radius: 4px;
    background-color: #ededed9d;

}
.imagepart img{
    height: 100%;
    border-radius: 5px;
    object-fit: cover;

}
.detailpart{
    height:40%;
    width: 100%;
    /* background-color: #31e7ff; */
}
.rate{
    margin-top: 0px;
    /* height: fit-content; */
    font-family: sans-serif;
    padding-left: 10px;
    /* background-color: #9e2020; */
    display: flex;
    align-items: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
}
.model{
    margin-top: 0px;
    /* height: fit-content; */
    font-family: sans-serif;
    padding-left: 10px;
    /* background-color: #9e2020; */
    display: flex;
    align-items: center;
    margin-top: -10px;
    font-size: 14px;
    font-weight: 400;
}
.name{
    margin-top: 0px;
    /* height: fit-content; */
    font-family: sans-serif;
    padding-left: 10px;
    /* background-color: #9e2020; */
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}
.place{
    margin-top: 0px;
    /* height: fit-content; */
    font-family: sans-serif;
    padding-left: 10px;
    /* background-color: #9e2020; */
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
}
.footer{
    margin-top: 20px;
    height: 200px;
    width: 100%;
    background-color: #002f3423;
    display: flex;
    align-items: center;
    justify-content: center;
}
table{
    height: 90%;
    width: 60%;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    /* border: 1px solid black; */
}
thead{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #002f34;
}
tbody{
    font-weight: 400;
    color: #002f34b3;
    font-size: 12px;
}
.flwus h3{
    margin-top:0px ;
    font-family: sans-serif;
    font-size: 14px;
}
.follow-div{
    height: 90%;
    /* background-color: #31e7ff; */
    width: 200px;
}
.flwicon img{
    height: 25px;
    padding-left: 5px;
}
.playstore {
    height: 80px;

}
.appstore{
    margin-top: -20px;
    height: 50px;
}
.endfooter{

    height: 200px ;
    width: 100%;
    background-color: #002f34;
    display: flex;
    align-items: center;
    
}
.endftrsec1{
    margin: auto;
height: 80%;
width: 100%;
/* background-color: #f1ee26; */
}
.logs{
    width: 80%;
    height: 70%;
    margin: auto;
    /* background-color: #31e7ff; */
    display: flex;
    justify-content: space-between;

}
.logs img{
height: 70px;
}
.ftrlogos{
    height: 100%;
    width: 200px;
    /* border: 1px solid white; */
    /* background-color: #3a3a3a; */
    cursor: pointer;
    display: flex;
    align-items: center;
}
.end{
    width: 80%;
    height: 20%;
    margin: auto;
    /* background-color: #f1ee26; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    font-size: 12px;

}