body{
    margin: 0;
    /* height: 100%; */
}
nav{
    height: 80px;
    width: 100%;
    background-color: rgba(0, 47, 52, 0.03);
    display: flex;
   justify-content: center;
   align-items: center;
}
.nav-div{
    width: 99%;
    height: 90%;
    /* background-color: rgb(179, 79, 79); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    height:30px ;
    
    /* background-color: antiquewhite; */
}
.location{
    height: 48px;
    width: 270px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.searchicon{
    height: 25px;
    width: 25px;
}
.location input{
    height: 95%;
    width: 190px;
    border: none;
    outline: none;
}
.dropdownicon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.location ::placeholder{
    font-size: 15px;
}
.search-div{
    height: 48px;
    width:50% ;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.search-div input{
    width: 100%;
    height: 100%;
    padding-left: 10px;

    
}
.search-div div{
    height: 100%;
    width: 10%;
    background-color:#002f34;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 3px 3px 0px;
}

.search-div img{
   
    height: 25px;
    width: 25px;
    filter: brightness(100);
    cursor: pointer;


}
.language-div{
    height: 100%;
    width:auto;
    display: flex;
    align-items: center;
}
.language-div p{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #3a3a3a;
    padding-top: 15px;
}
.language-div img{
    height: 30px;
    width: 30px;
    cursor: pointer;

}
.profile-div{
    height:48px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.profilepic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: aqua; */
}

.profile-dropdown{
    width: 30px;
    height: 30px;
    /* background-color: blue; */
}
.selldiv{
    height: 50px;
    width: 95px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: linear-gradient(to right top, #fefd2a, #f6e637, #f1ee26, #f1ee26, #31e7ff, #31e7ff, #31e7ff, #4f10e1, #4f10e1, #4f10e1, #4f10e1);
}
a{
    text-decoration: none;
    color:black;
    font-family: sans-serif;
    font-size: 14px;
}
.sell{
    height: 70%;
    width: 85%;
    background-color: aliceblue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sell-p{
    padding-top: 16px;
    color: black;
    text-decoration: none;
}
.sell img{
    height: 28px;
}
/* ============================================================================ */
/* ============================================================================ */
/* ============================================================================ */
.container{
    width: 75%;
    height: 800px;
    /* background-color: blue; */
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content{
    width: 60%;
    height: 65%;
    /* background-color: darkolivegreen; */
    margin: 0;
    margin-left: -12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.carousel{
    width: 100%;
    height: 85%;
    background-color: rgb(19, 17, 17);
    /* object-fit: cover; */
    /* margin-left: -6.0px; */
}
.img{
    width: 100%;
    height: 18%;
    /* background-color: deeppink; */
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.img .imgs{
    width: 65px;
    height: 65px;
    /* background-color: orangered; */
    margin: 10px;
    margin-left: 35px;
}
.imgs img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detailes{
    width: 100%;
    height: 48%;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 5px;
    border: 1px solid rgb(154, 141, 141);
    margin-top: 20px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.brand{
    width: 100%;
    height: 10%;
    display: flex;
    gap: 30%;
}
.info{
    width: 39%;
    height: 70%;
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.divs{
    width: 100%;
    height: 32%;
    /* background-color: rgb(180, 85, 85); */
    border-radius: 5px;
    border: 1px solid rgb(154, 141, 141);
    padding: 15PX;
}
.h2{
    display: flex;
    justify-content: space-between;
}
h2{
    margin: 0;
}
.icon{
    width: 20%;
    height: 30%;
    /* background-color: blue; */
}
.div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 100%;
    height: 65%;
    /* background-color: rgb(180, 85, 85); */
    border-radius: 5px;
    border: 1px solid rgb(154, 141, 141);
}
.profile{
    margin: auto;
    width: 95%;
    /* background-color: cadetblue; */
    height: 80px;
    display: flex;
    align-items: center;
}
.profile img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    /* background-color: cadetblue; */
    margin-right: 20px;
}
.chat{
    margin: auto;
    margin-top: 10px;
    width: 95%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px ;
    border: 2px solid black;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}
#num{
    display: none;
}
#hi{
    display: none;
}
#show p{
    color: blue;
    text-decoration: underline;
    text-decoration-color: rgb(44, 44, 230);
}

iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}