*{
    margin:0px;
    padding:0px;
}

body{
    margin-top: 80px;
    /* background-color: aqua; */
    /* display: flex;
    justify-content: center; */
   
}
.wrapp-container{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container{
    margin-left:80px;
  width:50%;
  height:500px;
  /* background-color: red; */
  
text-align: center;
border-radius: 10px;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);  
margin-bottom:40px;

}
.content{
    width:50%;
  height:500px; 
}

.img-div{
    /* margin-left: 150px; */
    text-align: center;
}

.profilephoto{
    text-align: center;
    position: relative;
    top:10px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white; 
    background-color: #007bff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }

  .btn:hover {
    background-color: #0056b3; /* Change color on hover */
  }

  .btn:active {
    transform: scale(0.95); /* Button pressed effect */
  }
 a{
    text-decoration: none;
    font-size:15px;
   }
  .text{
    text-align: center;
  }

 .btn-1{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white; 
    background-color: #007bff; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-left: 260px;
    margin-top: 10px;
 }

 .btn-1:hover {
    background-color: #0056b3;
 }


 .footer{
  margin-top: 20px;
  height: 200px;
  width: 100%;
  background-color: #002f3423;
  display: flex;
  align-items: center;
  justify-content: center;
}
table{
  height: 90%;
  width: 60%;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
  /* border: 1px solid black; */
}
thead{
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #002f34;
}
tbody{
  font-weight: 400;
  color: #002f34b3;
  font-size: 12px;
}
.flwus h3{
  margin-top:0px ;
  font-family: sans-serif;
  font-size: 14px;
}
.follow-div{
  height: 90%;
  /* background-color: #31e7ff; */
  width: 200px;
}
.flwicon img{
  height: 25px;
  padding-left: 5px;
  margin-top: 10px;
}
.playstore {
  height: 80px;

}
.appstore{
  margin-top: -20px;
  height: 50px;
}
.endfooter{

  height: 200px ;
  width: 100%;
  background-color: #002f34;
  display: flex;
  align-items: center;
  
}
.endftrsec1{
  margin: auto;
height: 80%;
width: 100%;
/* background-color: #f1ee26; */
}
.logs{
  width: 80%;
  height: 70%;
  margin: auto;
  /* background-color: #31e7ff; */
  display: flex;
  justify-content: space-between;

}
.logs img{
height: 70px;
}
.ftrlogos{
  height: 100%;
  width: 200px;
  /* border: 1px solid white; */
  /* background-color: #3a3a3a; */
  cursor: pointer;
  display: flex;
  align-items: center;
}
.end{
  width: 80%;
  height: 20%;
  margin: auto;
  /* background-color: #f1ee26; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: sans-serif;
  font-size: 12px;

}